<div class="container text-center p-5">
  <h1>Add a new restaurant</h1>
</div>

<div class="container jumbotron align-items-center">
  <%= simple_form_for @restaurant do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: Restaurant::CATEGORY %>
  <%= f.button :submit, class: "btn-primary" %>
  <%= link_to "Cancel", restaurants_path, class: "btn btn-outline-primary" %>
<% end %>
</div>




