<div class="container text-center p-5">
  <h1><%=@restaurant.name %></h1>
</div>

<div class="restaurand-card">
<div class="container jumbotron align-items-center">
    <p>Address: <%= @restaurant.address %></p>
    <p>Phone number: <%= @restaurant.phone_number %></p>
    <p>Category: <%= @restaurant.category %></p>

<br>
<%= link_to "List all restaurants", restaurants_path, class: "btn btn-outline-primary" %>
<%= link_to "Write a review", new_restaurant_review_path(@restaurant), class: "btn btn-outline-primary" %>
</div>
</div>

<div class="review-card">
  <div class="container jumbotron align-items-center">
    <div class="row">
      <h2>Reviews</h2>
      <div class="col-xs-12 col-sm 6 col-m-3">

      <% @restaurant.reviews.each do |review| %>
        <p>Comment: <%= review.content %></p>
        <p>Rating: <%= review.rating %></p>
        <% review.rating.times do  %>
        <i class="fas fa-star"></i>
        <%end%>
        <% (5 - review.rating).times do  %>
        <i class="far fa-star"></i>
        <% end %>
        <hr>
      <% end %>
</div>
</div>
</div>
</div>

